// COLORS ---->
$color-main: #59829c;
$color-secondary: #f0efeb;
$color-three: #969c9f;
$color-aqua: #90d2d2;
$color-yellow: #dfd294;
// $color-aqua: #a8f0f0;

// BREAKPOINTS ---->
$breakpoint-mobile: 500px;
$breakpoint-tablet: 800px;
$breakpoint-medium: 1000px;
$breakpoint-large: 1600px;
$breakpoint-desktop: 2100px;
