@import 'sass';

.Book {
	position: relative;
	height: 100%;
	width: 100%;
	border-radius: 10px;
	overflow: hidden;
	background: rgba($color: $color-light-two, $alpha: 1);
	padding: 10%;

	transition: all 1s cubic-bezier(0.39, 0.575, 0.565, 1);

	@include flex-center;
	// button {
	// 	height: 300px;
	// 	width: 400px;
	// }
	h1 {
		font-size: 32px;
		@media screen and (max-width: $breakpoint-small) {
			font-size: 24px;
		}
		margin-bottom: 25px;
		font-family: 'Marcellus', serif;
	}

	.Booker {
		// max-width: 700px;
		display: flex;
		justify-content: space-evenly;
		flex-direction: column;
		align-items: center;

		.Dates {
			display: flex;
			justify-content: center;
			align-items: center;
			.Icon {
				font-size: 25px;
				color: grey;
				@include flex-center;
			}

			.DatePickerContainer {
				margin-left: 20px;
				flex-shrink: 0;
				position: relative;
				width: 332px;
				height: 55px;
				border-radius: 10px;
				box-shadow: 0 2px 5px rgba($color: gray, $alpha: 0.3);
				overflow: visible;

				.SelectDates {
					position: absolute;
					left: 0;
					bottom: 0;
					height: 55px;
					width: 332px;
					// border: 1px solid rgba(0, 0, 0, 0.5);
					border-radius: 10px;
					@include flex-center;
					padding: 10px;
					overflow: hidden;
					.DateRange {
						position: absolute;
						left: 0;
						top: 0;
						overflow: hidden;
						border-radius: 10px;
						transition: 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
					}
					.DateRangeOpen {
						position: absolute;
						left: 0;
						bottom: 0;
						overflow: hidden;
						border-radius: 10px;
						transition: 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
					}

					transition: 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
					&Open {
						@extend .SelectDates;
						height: 385px;
					}
				}
			}
		}

		.Guests {
			display: flex;
			justify-content: center;
			align-items: center;
			.Icon {
				font-size: 25px;
				color: grey;
				@include flex-center;
			}
			.Select {
				position: relative;
				margin-left: 20px;
				height: 52px;
				width: 130px;
				// border: 1px solid rgba(0, 0, 0, 0.5);
				border-radius: 10px;
				box-shadow: 0 2px 5px rgba($color: gray, $alpha: 0.3);
				padding: 10px;
				padding-right: 40px;
				// background: rgba($color: whitesmoke, $alpha: 0.5);
				@include flex-center;
				overflow: hidden;

				font-size: 16px;
				font-weight: 300;

				.Arrows {
					position: absolute;
					height: 100%;
					width: 30px;
					top: 0;
					right: 0;
					display: grid;
					grid-template-rows: 1fr 1fr;
					// background-color: $color-aqua;

					.Arrow {
						height: 100%;
						width: 100%;
						@include flex-center;
						border-left: 1px solid $color-aqua;
						cursor: pointer;

						&:active {
							background-color: rgba($color: gray, $alpha: 0.1);
						}

						&:first-of-type {
							border-bottom: 1px solid $color-aqua;
						}
					}

					.Disable {
						color: rgba($color: black, $alpha: 0.5);
						cursor: default;
					}
				}
			}
		}
	}

	.Button {
		position: relative;
		height: 150px;
		width: 300px;
		// border-radius: 0 10px 10px 0;
		// background-color: $color-aqua;
		// background: rgba($color: white, $alpha: 0.3);
		background: rgba($color: black, $alpha: 0.1);
		@include flex-center;
		cursor: pointer;
		transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);

		font-size: 24px;
		h4 {
			transform: translateY(-50%);
			font-size: 16px;
			font-family: 'Marcellus', serif;
			letter-spacing: 1pt;
			// margin-right: 25px;
			text-transform: uppercase;
		}
		.Check {
			position: absolute;
			left: 20%;
			top: 50%;
			opacity: 1;
			transition: all 0.1s cubic-bezier(0.215, 0.61, 0.355, 1);
		}
		.Reserve {
			position: absolute;
			left: 25%;
			top: 50%;
			opacity: 0;
			transition: all 0.1s cubic-bezier(0.215, 0.61, 0.355, 1);
		}

		.Icon {
			position: absolute;
			right: 25%;
			top: 50%;
			transform: translateY(-50%);
		}

		&Reserve {
			@extend .Button;
			.Check {
				opacity: 0;
			}
			.Reserve {
				opacity: 1;
			}
		}

		&:hover {
			background-color: #90dbdb;
		}
	}

	&Scroll {
		@extend .Book;
		// background: $color-light;
	}
}
