@import 'sass';

.Book {
	height: 100%;
	width: 100%;
	background: rgba($color: white, $alpha: 1);
	transition: all 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
	// transition: height 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);

	display: grid;
	grid-template-columns: 3fr 1fr;

	.Booker {
		display: flex;
		justify-content: space-evenly;
		align-items: center;

		div {
			height: 40px;
			width: 130px;
			border: 1px solid rgba(0, 0, 0, 0.5);
			border-radius: 2px;
			box-shadow: 0 2px 5px rgba($color: gray, $alpha: 0.3);
			@include flex-center;
			padding: 10px;
			// background: rgba($color: whitesmoke, $alpha: 0.5);
		}
	}

	.Button {
		height: 100%;
		width: 100%;
		background-color: $color-aqua;
		@include flex-center;

		font-size: 24px;
		h4 {
			font-size: 18px;
			font-family: 'Marcellus', serif;
			letter-spacing: 1pt;
			margin-right: 30px;
			text-transform: uppercase;
		}
	}

	&Scroll {
		@extend .Book;
		// background: $color-light;
	}
}
