@import 'sass';

.Amenities {
	height: 100%;
	width: 100%;
	@include flex-center;

	.Matrix {
		position: relative;
		height: 100%;
		width: 95%;

		display: grid;
		grid-template-columns: repeat(7, 1fr);
		grid-template-rows: repeat(6, 1fr);

		.Amenity {
			position: relative;
			grid-column-end: span 1;

			.Icon {
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
				// bottom: 100%;

				font-size: 30px;
				color: black;
				transition: all 0.5s cubic-bezier(0.39, 0.575, 0.565, 1);
			}
			.Scroll {
				color: white;
			}

			&1 {
				@extend .Amenity;
				grid-column-start: 1;
				grid-row-start: 1;
				grid-row-end: span 2;
			}
			&2 {
				@extend .Amenity;
				grid-column-start: 2;
				grid-row-start: 1;
				grid-row-end: span 1;
			}
			&3 {
				@extend .Amenity;
				grid-column-start: 3;
				grid-row-start: 1;
				grid-row-end: span 2;
			}
			&4 {
				@extend .Amenity;
				grid-column-start: 4;
				grid-row-start: 1;
				grid-row-end: span 1;
			}
			&5 {
				@extend .Amenity;
				grid-column-start: 5;
				grid-row-start: 1;
				grid-row-end: span 2;
			}
			&6 {
				@extend .Amenity;
				grid-column-start: 6;
				grid-row-start: 1;
				grid-row-end: span 1;
			}
			&7 {
				@extend .Amenity;
				grid-column-start: 7;
				grid-row-start: 1;
				grid-row-end: span 2;
			}
			&8 {
				@extend .Amenity;
				grid-column-start: 1;
				grid-row-start: 2;
				grid-row-end: span 1;
			}
			&9 {
				@extend .Amenity;
				grid-column-start: 2;
				grid-row-start: 2;
				grid-row-end: span 2;
			}
			&10 {
				@extend .Amenity;
				grid-column-start: 3;
				grid-row-start: 2;
				grid-row-end: span 1;
			}
			&11 {
				@extend .Amenity;
				grid-column-start: 4;
				grid-row-start: 2;
				grid-row-end: span 2;
			}
			&12 {
				@extend .Amenity;
				grid-column-start: 5;
				grid-row-start: 2;
				grid-row-end: span 1;
			}
			&13 {
				@extend .Amenity;
				grid-column-start: 6;
				grid-row-start: 2;
				grid-row-end: span 2;
			}
			&14 {
				@extend .Amenity;
				grid-column-start: 7;
				grid-row-start: 2;
				grid-row-end: span 1;
			}
			&15 {
				@extend .Amenity;
				grid-column-start: 1;
				grid-row-start: 3;
				grid-row-end: span 2;
			}
			&16 {
				@extend .Amenity;
				grid-column-start: 2;
				grid-row-start: 3;
				grid-row-end: span 1;
			}
			&17 {
				@extend .Amenity;
				grid-column-start: 3;
				grid-row-start: 3;
				grid-row-end: span 2;
			}
			&18 {
				@extend .Amenity;
				grid-column-start: 4;
				grid-row-start: 3;
				grid-row-end: span 1;
			}
			&19 {
				@extend .Amenity;
				grid-column-start: 5;
				grid-row-start: 3;
				grid-row-end: span 2;
			}
			&20 {
				@extend .Amenity;
				grid-column-start: 6;
				grid-row-start: 3;
				grid-row-end: span 1;
			}
			&21 {
				@extend .Amenity;
				grid-column-start: 7;
				grid-row-start: 3;
				grid-row-end: span 2;
			}
			&22 {
				@extend .Amenity;
				grid-column-start: 1;
				grid-row-start: 4;
				grid-row-end: span 1;
			}
			&23 {
				@extend .Amenity;
				grid-column-start: 2;
				grid-row-start: 4;
				grid-row-end: span 2;
			}
			&24 {
				@extend .Amenity;
				grid-column-start: 3;
				grid-row-start: 4;
				grid-row-end: span 1;
			}
			&25 {
				@extend .Amenity;
				grid-column-start: 4;
				grid-row-start: 4;
				grid-row-end: span 2;
			}
			&26 {
				@extend .Amenity;
				grid-column-start: 5;
				grid-row-start: 4;
				grid-row-end: span 1;
			}
			&27 {
				@extend .Amenity;
				grid-column-start: 6;
				grid-row-start: 4;
				grid-row-end: span 2;
			}
			&28 {
				@extend .Amenity;
				grid-column-start: 7;
				grid-row-start: 4;
				grid-row-end: span 1;
			}
		}
	}
}
