@import 'sass';

.Gallery {
	height: 100%;
	width: 100%;
	@include flex-center;

	.CarouselFrame {
		position: relative;
		height: 90%;
		width: 90%;
		// overflow-x: scroll;
		// overflow-y: hidden;
		overflow: hidden;
		display: flex;
		flex-direction: row;

		.CarouselInnerRooms {
			flex-shrink: 0;
			position: relative;
			// top: 0;
			// left: 0;
			height: 100%;
			width: 100%;
			overflow: hidden;
			display: flex;
			justify-content: space-around;
			align-items: center;

			// .CarouselInnerPhotos {
			// 	position: absolute;
			// 	top: 0;
			// 	left: 0;
			// 	height: 100%;
			// 	width: 100%;

			.Photo {
				height: 90%;
				width: 35vw;
				max-width: 50vh;
				// border: 2px solid blue;
				border-radius: 10px;
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center;

				box-shadow: 0 8px 15px -6px rgba(88, 88, 88, 0.699);
			}
			// }
		}
	}
}
